SoftBod/SoftBodBusiness/Connected Services/SoftWSUsuario/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Usuario" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBodWS/Usuario?xsd=1" namespace="http://softbodws.services.softbod.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="modificarUsuario">
    <part name="parameters" element="tns:modificarUsuario" />
  </message>
  <message name="modificarUsuarioResponse">
    <part name="parameters" element="tns:modificarUsuarioResponse" />
  </message>
  <message name="listarTodosUsuarios">
    <part name="parameters" element="tns:listarTodosUsuarios" />
  </message>
  <message name="listarTodosUsuariosResponse">
    <part name="parameters" element="tns:listarTodosUsuariosResponse" />
  </message>
  <message name="listarUsuariosInactivos">
    <part name="parameters" element="tns:listarUsuariosInactivos" />
  </message>
  <message name="listarUsuariosInactivosResponse">
    <part name="parameters" element="tns:listarUsuariosInactivosResponse" />
  </message>
  <message name="obtenerUsuarioPorCorreo">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreo" />
  </message>
  <message name="obtenerUsuarioPorCorreoResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorCorreoResponse" />
  </message>
  <message name="eliminarLogicoUsuario">
    <part name="parameters" element="tns:eliminarLogicoUsuario" />
  </message>
  <message name="eliminarLogicoUsuarioResponse">
    <part name="parameters" element="tns:eliminarLogicoUsuarioResponse" />
  </message>
  <message name="listarUsuariosActivos">
    <part name="parameters" element="tns:listarUsuariosActivos" />
  </message>
  <message name="listarUsuariosActivosResponse">
    <part name="parameters" element="tns:listarUsuariosActivosResponse" />
  </message>
  <message name="obtenerUsuarioPorId">
    <part name="parameters" element="tns:obtenerUsuarioPorId" />
  </message>
  <message name="obtenerUsuarioPorIdResponse">
    <part name="parameters" element="tns:obtenerUsuarioPorIdResponse" />
  </message>
  <message name="obtenerCuentaUsuario">
    <part name="parameters" element="tns:obtenerCuentaUsuario" />
  </message>
  <message name="obtenerCuentaUsuarioResponse">
    <part name="parameters" element="tns:obtenerCuentaUsuarioResponse" />
  </message>
  <message name="listarUsuariosPorNombreParcial">
    <part name="parameters" element="tns:listarUsuariosPorNombreParcial" />
  </message>
  <message name="listarUsuariosPorNombreParcialResponse">
    <part name="parameters" element="tns:listarUsuariosPorNombreParcialResponse" />
  </message>
  <portType name="Usuario">
    <operation name="insertarUsuario">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="modificarUsuario">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/modificarUsuarioRequest" message="tns:modificarUsuario" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/modificarUsuarioResponse" message="tns:modificarUsuarioResponse" />
    </operation>
    <operation name="listarTodosUsuarios">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarTodosUsuariosRequest" message="tns:listarTodosUsuarios" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarTodosUsuariosResponse" message="tns:listarTodosUsuariosResponse" />
    </operation>
    <operation name="listarUsuariosInactivos">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosInactivosRequest" message="tns:listarUsuariosInactivos" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosInactivosResponse" message="tns:listarUsuariosInactivosResponse" />
    </operation>
    <operation name="obtenerUsuarioPorCorreo">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerUsuarioPorCorreoRequest" message="tns:obtenerUsuarioPorCorreo" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerUsuarioPorCorreoResponse" message="tns:obtenerUsuarioPorCorreoResponse" />
    </operation>
    <operation name="eliminarLogicoUsuario">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/eliminarLogicoUsuarioRequest" message="tns:eliminarLogicoUsuario" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/eliminarLogicoUsuarioResponse" message="tns:eliminarLogicoUsuarioResponse" />
    </operation>
    <operation name="listarUsuariosActivos">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosActivosRequest" message="tns:listarUsuariosActivos" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosActivosResponse" message="tns:listarUsuariosActivosResponse" />
    </operation>
    <operation name="obtenerUsuarioPorId">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerUsuarioPorIdRequest" message="tns:obtenerUsuarioPorId" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerUsuarioPorIdResponse" message="tns:obtenerUsuarioPorIdResponse" />
    </operation>
    <operation name="obtenerCuentaUsuario">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerCuentaUsuarioRequest" message="tns:obtenerCuentaUsuario" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/obtenerCuentaUsuarioResponse" message="tns:obtenerCuentaUsuarioResponse" />
    </operation>
    <operation name="listarUsuariosPorNombreParcial">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosPorNombreParcialRequest" message="tns:listarUsuariosPorNombreParcial" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Usuario/listarUsuariosPorNombreParcialResponse" message="tns:listarUsuariosPorNombreParcialResponse" />
    </operation>
  </portType>
  <binding name="UsuarioPortBinding" type="tns:Usuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosInactivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorCorreo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogicoUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosActivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosPorNombreParcial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Usuario">
    <port name="UsuarioPort" binding="tns:UsuarioPortBinding">
      <soap:address location="http://localhost:8080/SoftBodWS/Usuario" />
    </port>
  </service>
</definitions>