SoftBod/SoftBodBusiness/Connected Services/SoftBodWSServices/Devolucion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Devolucion" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://44.206.187.222:8080/SoftBodWS/Devolucion?xsd=1" namespace="http://softbodws.services.softbod.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="obtenerDevolucionPorId">
    <part name="parameters" element="tns:obtenerDevolucionPorId" />
  </message>
  <message name="obtenerDevolucionPorIdResponse">
    <part name="parameters" element="tns:obtenerDevolucionPorIdResponse" />
  </message>
  <message name="listarDevolucionesPorFecha">
    <part name="parameters" element="tns:listarDevolucionesPorFecha" />
  </message>
  <message name="listarDevolucionesPorFechaResponse">
    <part name="parameters" element="tns:listarDevolucionesPorFechaResponse" />
  </message>
  <message name="listarTodasDevoluciones">
    <part name="parameters" element="tns:listarTodasDevoluciones" />
  </message>
  <message name="listarTodasDevolucionesResponse">
    <part name="parameters" element="tns:listarTodasDevolucionesResponse" />
  </message>
  <message name="insertarDevolucion">
    <part name="parameters" element="tns:insertarDevolucion" />
  </message>
  <message name="insertarDevolucionResponse">
    <part name="parameters" element="tns:insertarDevolucionResponse" />
  </message>
  <message name="listarDevolucionesPorUsuario">
    <part name="parameters" element="tns:listarDevolucionesPorUsuario" />
  </message>
  <message name="listarDevolucionesPorUsuarioResponse">
    <part name="parameters" element="tns:listarDevolucionesPorUsuarioResponse" />
  </message>
  <message name="listarDevolucionesPorUsuarioYFecha">
    <part name="parameters" element="tns:listarDevolucionesPorUsuarioYFecha" />
  </message>
  <message name="listarDevolucionesPorUsuarioYFechaResponse">
    <part name="parameters" element="tns:listarDevolucionesPorUsuarioYFechaResponse" />
  </message>
  <portType name="Devolucion">
    <operation name="obtenerDevolucionPorId">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/obtenerDevolucionPorIdRequest" message="tns:obtenerDevolucionPorId" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/obtenerDevolucionPorIdResponse" message="tns:obtenerDevolucionPorIdResponse" />
    </operation>
    <operation name="listarDevolucionesPorFecha">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorFechaRequest" message="tns:listarDevolucionesPorFecha" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorFechaResponse" message="tns:listarDevolucionesPorFechaResponse" />
    </operation>
    <operation name="listarTodasDevoluciones">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarTodasDevolucionesRequest" message="tns:listarTodasDevoluciones" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarTodasDevolucionesResponse" message="tns:listarTodasDevolucionesResponse" />
    </operation>
    <operation name="insertarDevolucion">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/insertarDevolucionRequest" message="tns:insertarDevolucion" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/insertarDevolucionResponse" message="tns:insertarDevolucionResponse" />
    </operation>
    <operation name="listarDevolucionesPorUsuario">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorUsuarioRequest" message="tns:listarDevolucionesPorUsuario" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorUsuarioResponse" message="tns:listarDevolucionesPorUsuarioResponse" />
    </operation>
    <operation name="listarDevolucionesPorUsuarioYFecha">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorUsuarioYFechaRequest" message="tns:listarDevolucionesPorUsuarioYFecha" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Devolucion/listarDevolucionesPorUsuarioYFechaResponse" message="tns:listarDevolucionesPorUsuarioYFechaResponse" />
    </operation>
  </portType>
  <binding name="DevolucionPortBinding" type="tns:Devolucion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="obtenerDevolucionPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDevolucionesPorFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasDevoluciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDevolucionesPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDevolucionesPorUsuarioYFecha">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Devolucion">
    <port name="DevolucionPort" binding="tns:DevolucionPortBinding">
      <soap:address location="http://44.206.187.222:8080/SoftBodWS/Devolucion" />
    </port>
  </service>
</definitions>