SoftBod/SoftBodBusiness/Connected Services/SoftWSRazonDevolucion/RazonDevolucion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RazonDevolucion" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBodWS/RazonDevolucion?xsd=1" namespace="http://softbodws.services.softbod.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarRazonDevolucion">
    <part name="parameters" element="tns:insertarRazonDevolucion" />
  </message>
  <message name="insertarRazonDevolucionResponse">
    <part name="parameters" element="tns:insertarRazonDevolucionResponse" />
  </message>
  <message name="eliminarRazonDevolucion">
    <part name="parameters" element="tns:eliminarRazonDevolucion" />
  </message>
  <message name="eliminarRazonDevolucionResponse">
    <part name="parameters" element="tns:eliminarRazonDevolucionResponse" />
  </message>
  <message name="obtenerRazonDevolucionPorId">
    <part name="parameters" element="tns:obtenerRazonDevolucionPorId" />
  </message>
  <message name="obtenerRazonDevolucionPorIdResponse">
    <part name="parameters" element="tns:obtenerRazonDevolucionPorIdResponse" />
  </message>
  <message name="listarTodasRazonesDevolucion">
    <part name="parameters" element="tns:listarTodasRazonesDevolucion" />
  </message>
  <message name="listarTodasRazonesDevolucionResponse">
    <part name="parameters" element="tns:listarTodasRazonesDevolucionResponse" />
  </message>
  <message name="listarRazonesDevolucionPorNombreParcial">
    <part name="parameters" element="tns:listarRazonesDevolucionPorNombreParcial" />
  </message>
  <message name="listarRazonesDevolucionPorNombreParcialResponse">
    <part name="parameters" element="tns:listarRazonesDevolucionPorNombreParcialResponse" />
  </message>
  <portType name="RazonDevolucion">
    <operation name="insertarRazonDevolucion">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/insertarRazonDevolucionRequest" message="tns:insertarRazonDevolucion" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/insertarRazonDevolucionResponse" message="tns:insertarRazonDevolucionResponse" />
    </operation>
    <operation name="eliminarRazonDevolucion">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/eliminarRazonDevolucionRequest" message="tns:eliminarRazonDevolucion" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/eliminarRazonDevolucionResponse" message="tns:eliminarRazonDevolucionResponse" />
    </operation>
    <operation name="obtenerRazonDevolucionPorId">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/obtenerRazonDevolucionPorIdRequest" message="tns:obtenerRazonDevolucionPorId" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/obtenerRazonDevolucionPorIdResponse" message="tns:obtenerRazonDevolucionPorIdResponse" />
    </operation>
    <operation name="listarTodasRazonesDevolucion">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/listarTodasRazonesDevolucionRequest" message="tns:listarTodasRazonesDevolucion" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/listarTodasRazonesDevolucionResponse" message="tns:listarTodasRazonesDevolucionResponse" />
    </operation>
    <operation name="listarRazonesDevolucionPorNombreParcial">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/listarRazonesDevolucionPorNombreParcialRequest" message="tns:listarRazonesDevolucionPorNombreParcial" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/RazonDevolucion/listarRazonesDevolucionPorNombreParcialResponse" message="tns:listarRazonesDevolucionPorNombreParcialResponse" />
    </operation>
  </portType>
  <binding name="RazonDevolucionPortBinding" type="tns:RazonDevolucion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarRazonDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRazonDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerRazonDevolucionPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasRazonesDevolucion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarRazonesDevolucionPorNombreParcial">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RazonDevolucion">
    <port name="RazonDevolucionPort" binding="tns:RazonDevolucionPortBinding">
      <soap:address location="http://localhost:8080/SoftBodWS/RazonDevolucion" />
    </port>
  </service>
</definitions>