SoftBod/SoftBodBusiness/Connected Services/SoftWSVenta/Venta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarVenta" type="tns:insertarVenta" />
  <xs:element name="insertarVentaResponse" type="tns:insertarVentaResponse" />
  <xs:element name="listarTodosVentas" type="tns:listarTodosVentas" />
  <xs:element name="listarTodosVentasResponse" type="tns:listarTodosVentasResponse" />
  <xs:element name="listarVentasPorFecha" type="tns:listarVentasPorFecha" />
  <xs:element name="listarVentasPorFechaResponse" type="tns:listarVentasPorFechaResponse" />
  <xs:element name="obtenerVentaPorId" type="tns:obtenerVentaPorId" />
  <xs:element name="obtenerVentaPorIdResponse" type="tns:obtenerVentaPorIdResponse" />
  <xs:complexType name="obtenerVentaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVentaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:ventaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ventaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:tipoDePago" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuarios" type="tns:tipoUsuario" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosVentas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosVentasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ventaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:tipoDePago" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="detallesVenta" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleVentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="venta" type="tns:ventaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="tns:unidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVentasPorFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVentasPorFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ventaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EFECTIVO" />
      <xs:enumeration value="TRANSFERENCIA" />
      <xs:enumeration value="FIADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPERARIO" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>