SoftBod/SoftBodBusiness/Connected Services/SoftWSDetalleVenta/DetalleVenta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarDetalleVenta" type="tns:insertarDetalleVenta" />
  <xs:element name="insertarDetalleVentaResponse" type="tns:insertarDetalleVentaResponse" />
  <xs:element name="listarDetallesVentaPorProducto" type="tns:listarDetallesVentaPorProducto" />
  <xs:element name="listarDetallesVentaPorProductoResponse" type="tns:listarDetallesVentaPorProductoResponse" />
  <xs:element name="listarDetallesVentaPorVenta" type="tns:listarDetallesVentaPorVenta" />
  <xs:element name="listarDetallesVentaPorVentaResponse" type="tns:listarDetallesVentaPorVentaResponse" />
  <xs:element name="listarTodosDetallesVenta" type="tns:listarTodosDetallesVenta" />
  <xs:element name="listarTodosDetallesVentaResponse" type="tns:listarTodosDetallesVentaResponse" />
  <xs:element name="obtenerDetalleVentaPorId" type="tns:obtenerDetalleVentaPorId" />
  <xs:element name="obtenerDetalleVentaPorIdResponse" type="tns:obtenerDetalleVentaPorIdResponse" />
  <xs:complexType name="insertarDetalleVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="detalleVenta" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleVentaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="venta" type="tns:ventaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="tns:unidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ventaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:string" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:tipoDePago" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuarios" type="tns:tipoUsuario" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesVentaPorVenta">
    <xs:sequence>
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesVentaPorVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesVentaPorProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesVentaPorProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosDetallesVenta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDetallesVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDetalleVentaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="ventaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDetalleVentaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleVentaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDePago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EFECTIVO" />
      <xs:enumeration value="TRANSFERENCIA" />
      <xs:enumeration value="FIADO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPERARIO" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>