SoftBod/SoftBodBusiness/Connected Services/SoftWSDetalleVenta/DetalleVenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DetalleVenta" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBodWS/DetalleVenta?xsd=1" namespace="http://softbodws.services.softbod.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarDetallesVentaPorVenta">
    <part name="parameters" element="tns:listarDetallesVentaPorVenta" />
  </message>
  <message name="listarDetallesVentaPorVentaResponse">
    <part name="parameters" element="tns:listarDetallesVentaPorVentaResponse" />
  </message>
  <message name="listarDetallesVentaPorProducto">
    <part name="parameters" element="tns:listarDetallesVentaPorProducto" />
  </message>
  <message name="listarDetallesVentaPorProductoResponse">
    <part name="parameters" element="tns:listarDetallesVentaPorProductoResponse" />
  </message>
  <message name="obtenerDetalleVentaPorId">
    <part name="parameters" element="tns:obtenerDetalleVentaPorId" />
  </message>
  <message name="obtenerDetalleVentaPorIdResponse">
    <part name="parameters" element="tns:obtenerDetalleVentaPorIdResponse" />
  </message>
  <message name="insertarDetalleVenta">
    <part name="parameters" element="tns:insertarDetalleVenta" />
  </message>
  <message name="insertarDetalleVentaResponse">
    <part name="parameters" element="tns:insertarDetalleVentaResponse" />
  </message>
  <message name="listarTodosDetallesVenta">
    <part name="parameters" element="tns:listarTodosDetallesVenta" />
  </message>
  <message name="listarTodosDetallesVentaResponse">
    <part name="parameters" element="tns:listarTodosDetallesVentaResponse" />
  </message>
  <portType name="DetalleVenta">
    <operation name="listarDetallesVentaPorVenta">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarDetallesVentaPorVentaRequest" message="tns:listarDetallesVentaPorVenta" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarDetallesVentaPorVentaResponse" message="tns:listarDetallesVentaPorVentaResponse" />
    </operation>
    <operation name="listarDetallesVentaPorProducto">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarDetallesVentaPorProductoRequest" message="tns:listarDetallesVentaPorProducto" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarDetallesVentaPorProductoResponse" message="tns:listarDetallesVentaPorProductoResponse" />
    </operation>
    <operation name="obtenerDetalleVentaPorId">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/obtenerDetalleVentaPorIdRequest" message="tns:obtenerDetalleVentaPorId" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/obtenerDetalleVentaPorIdResponse" message="tns:obtenerDetalleVentaPorIdResponse" />
    </operation>
    <operation name="insertarDetalleVenta">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/insertarDetalleVentaRequest" message="tns:insertarDetalleVenta" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/insertarDetalleVentaResponse" message="tns:insertarDetalleVentaResponse" />
    </operation>
    <operation name="listarTodosDetallesVenta">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarTodosDetallesVentaRequest" message="tns:listarTodosDetallesVenta" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/DetalleVenta/listarTodosDetallesVentaResponse" message="tns:listarTodosDetallesVentaResponse" />
    </operation>
  </portType>
  <binding name="DetalleVentaPortBinding" type="tns:DetalleVenta">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarDetallesVentaPorVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDetallesVentaPorProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerDetalleVentaPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDetalleVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosDetallesVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DetalleVenta">
    <port name="DetalleVentaPort" binding="tns:DetalleVentaPortBinding">
      <soap:address location="http://localhost:8080/SoftBodWS/DetalleVenta" />
    </port>
  </service>
</definitions>