SoftBod/SoftBodBusiness/Connected Services/SoftWSProducto/Producto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Producto" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftBodWS/Producto?xsd=1" namespace="http://softbodws.services.softbod.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="listarTodosConFiltroProductos">
    <part name="parameters" element="tns:listarTodosConFiltroProductos" />
  </message>
  <message name="listarTodosConFiltroProductosResponse">
    <part name="parameters" element="tns:listarTodosConFiltroProductosResponse" />
  </message>
  <message name="obtenerProductoPorId">
    <part name="parameters" element="tns:obtenerProductoPorId" />
  </message>
  <message name="obtenerProductoPorIdResponse">
    <part name="parameters" element="tns:obtenerProductoPorIdResponse" />
  </message>
  <message name="listarTodosProductos">
    <part name="parameters" element="tns:listarTodosProductos" />
  </message>
  <message name="listarTodosProductosResponse">
    <part name="parameters" element="tns:listarTodosProductosResponse" />
  </message>
  <portType name="Producto">
    <operation name="insertarProducto">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="modificarProducto">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="listarTodosConFiltroProductos">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/listarTodosConFiltroProductosRequest" message="tns:listarTodosConFiltroProductos" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/listarTodosConFiltroProductosResponse" message="tns:listarTodosConFiltroProductosResponse" />
    </operation>
    <operation name="obtenerProductoPorId">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/obtenerProductoPorIdRequest" message="tns:obtenerProductoPorId" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/obtenerProductoPorIdResponse" message="tns:obtenerProductoPorIdResponse" />
    </operation>
    <operation name="listarTodosProductos">
      <input wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/listarTodosProductosRequest" message="tns:listarTodosProductos" />
      <output wsam:Action="http://softbodws.services.softbod.pucp.edu.pe/Producto/listarTodosProductosResponse" message="tns:listarTodosProductosResponse" />
    </operation>
  </portType>
  <binding name="ProductoPortBinding" type="tns:Producto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosConFiltroProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerProductoPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Producto">
    <port name="ProductoPort" binding="tns:ProductoPortBinding">
      <soap:address location="http://localhost:8080/SoftBodWS/Producto" />
    </port>
  </service>
</definitions>