SoftBod/SoftBodBusiness/Connected Services/SoftWSCategoria/Categoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="categoriaContieneProductos" type="tns:categoriaContieneProductos" />
  <xs:element name="categoriaContieneProductosResponse" type="tns:categoriaContieneProductosResponse" />
  <xs:element name="eliminarCategoria" type="tns:eliminarCategoria" />
  <xs:element name="eliminarCategoriaResponse" type="tns:eliminarCategoriaResponse" />
  <xs:element name="insertarCategoria" type="tns:insertarCategoria" />
  <xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />
  <xs:element name="listarTodasCategorias" type="tns:listarTodasCategorias" />
  <xs:element name="listarTodasCategoriasResponse" type="tns:listarTodasCategoriasResponse" />
  <xs:element name="nombreCategoriaYaExiste" type="tns:nombreCategoriaYaExiste" />
  <xs:element name="nombreCategoriaYaExisteResponse" type="tns:nombreCategoriaYaExisteResponse" />
  <xs:element name="obtenerCategoriaPorId" type="tns:obtenerCategoriaPorId" />
  <xs:element name="obtenerCategoriaPorIdResponse" type="tns:obtenerCategoriaPorIdResponse" />
  <xs:element name="puedeEliminarCategoria" type="tns:puedeEliminarCategoria" />
  <xs:element name="puedeEliminarCategoriaResponse" type="tns:puedeEliminarCategoriaResponse" />
  <xs:complexType name="listarTodasCategorias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasCategoriasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="puedeEliminarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="puedeEliminarCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerCategoriaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaContieneProductos">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaContieneProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nombreCategoriaYaExiste">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nombreCategoriaYaExisteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>