SoftBod/SoftBodBusiness/Connected Services/SoftWSDetalleDevolucion/DetalleDevolucion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://softbodws.services.softbod.pucp.edu.pe/" targetNamespace="http://softbodws.services.softbod.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarDetalleDevolucion" type="tns:insertarDetalleDevolucion" />
  <xs:element name="insertarDetalleDevolucionResponse" type="tns:insertarDetalleDevolucionResponse" />
  <xs:element name="listarDetallesDevolucionPorDevolucion" type="tns:listarDetallesDevolucionPorDevolucion" />
  <xs:element name="listarDetallesDevolucionPorDevolucionResponse" type="tns:listarDetallesDevolucionPorDevolucionResponse" />
  <xs:element name="listarDetallesDevolucionPorProducto" type="tns:listarDetallesDevolucionPorProducto" />
  <xs:element name="listarDetallesDevolucionPorProductoResponse" type="tns:listarDetallesDevolucionPorProductoResponse" />
  <xs:element name="listarDetallesDevolucionPorRazon" type="tns:listarDetallesDevolucionPorRazon" />
  <xs:element name="listarDetallesDevolucionPorRazonResponse" type="tns:listarDetallesDevolucionPorRazonResponse" />
  <xs:element name="listarTodosDetallesDevolucion" type="tns:listarTodosDetallesDevolucion" />
  <xs:element name="listarTodosDetallesDevolucionResponse" type="tns:listarTodosDetallesDevolucionResponse" />
  <xs:element name="obtenerDetalleDevolucionPorId" type="tns:obtenerDetalleDevolucionPorId" />
  <xs:element name="obtenerDetalleDevolucionPorIdResponse" type="tns:obtenerDetalleDevolucionPorIdResponse" />
  <xs:complexType name="obtenerDetalleDevolucionPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="devolucionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerDetalleDevolucionPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:detalleDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="detalleDevolucionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="devolucion" type="tns:devolucionDTO" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="razonDevolucion" type="tns:razonDevolucionDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="devolucionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="devolucionId" type="xs:int" />
      <xs:element minOccurs="0" name="fecha" type="tns:date" />
      <xs:element minOccurs="0" name="total" type="xs:double" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipoUsuarios" type="tns:tipoUsuario" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoriaDTO" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stockMinimo" type="xs:int" />
      <xs:element minOccurs="0" name="unidadMedida" type="tns:unidadMedida" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoriaId" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="razonDevolucionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="razonDevolucionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="productoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorProductoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosDetallesDevolucion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosDetallesDevolucionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorRazon">
    <xs:sequence>
      <xs:element minOccurs="0" name="razonDevolucion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorRazonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleDevolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="devolucion" type="tns:devolucionDTO" />
      <xs:element minOccurs="0" name="producto" type="tns:productoDTO" />
      <xs:element minOccurs="0" name="subtotal" type="xs:double" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="razonDevolucion" type="tns:razonDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarDetalleDevolucionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorDevolucion">
    <xs:sequence>
      <xs:element minOccurs="0" name="devolucionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarDetallesDevolucionPorDevolucionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:detalleDevolucionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoUsuario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPERARIO" />
      <xs:enumeration value="ADMINISTRADOR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unidadMedida">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KILOGRAMO" />
      <xs:enumeration value="LITRO" />
      <xs:enumeration value="UNIDAD" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>